.searchInputContainer {
  width: 100%;
  max-width: 40rem;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  // border: 1px solid red;
}

.input {
  font-size: 1.8rem;
  width: 100%;
  padding: 1rem;
}

.infoContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
}

.mapContainer {
  width: 40%;
}

.textContainer {
  max-width: 50%;
}
