.searchInputContainer {
  // border: 1px solid tomato;
  width: 100%;
  max-width: 40rem;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
}

.input {
  font-size: 1.6rem;
  width: 100%;
}
