.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 70rem;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-2);
  padding: 2rem;
  border-radius: var(--border-radius);
}
