.button {
  font-weight: bold;
  display: inline-block;
  border-radius: var(--border-radius);
  border: 1px solid;
  background: var(--color-black);
  color: var(--color-yellow);
  font-size: 1.6rem;
  transition: all 0.2s;
  box-shadow: var(--box-shadow-1);
  text-decoration: none;
  display: block;
  height: 100%;
  padding: 1rem 2rem;
  color: var(--color-yellow);
  text-transform: uppercase;
  margin: 2rem auto;

  &:hover {
    // background: var(--color-yellow);
    // color: var(--color-black);
    box-shadow: var(--box-shadow-1-hover);
  }

  &.primary {
    background: var(--color-blue);
    color: var(--color-white);
  }
}
