*:root {
  // Colors
  --color-black: #010203;
  --color-brown: rgb(75, 49, 10);
  --color-grey: #7d8289;
  --color-light-grey: #ebeaea;
  --color-white: #fff;
  --color-light-red: #ef9a9a;
  --color-light-blue: #90caf9;
  --color-light-yellow: #fff59d;
  --color-light-green: #a5d6a7;
  --color-light-purple: #ce93d8;
  --color-light-orange: #ffab91;
  --color-light-pink: #f48fb1;
  --color-light-cyan: #80deea;
  --color-light-amber: #ffe082;
  --color-red: #f44336;
  --color-blue: #2196f3;
  --color-yellow: #ffeb3b;
  --color-green: #4caf50;
  --color-purple: #9c27b0;
  --color-orange: #ff9800;
  --color-pink: #e91e63;
  --color-cyan: #00bcd4;
  --color-amber: #ffc107;
  // Border Radius
  --border-radius: 5px;
  --border-radius-2: 8px;
  // Box Shadow
  --box-shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  --box-shadow-1-hover: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  --box-shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --box-shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  // Fontfamily

  --font-default: 'Tajawal', sans-serif;
  --font-second: 'Pacifico', cursive;
  --font-third: 'Sansita', sans-serif;
}
